{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block main %}
<p></p>

<div class="card text-left">
  <div class="card-header">
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
    <li class="media">
      <a href="https://github.com/ChernoBen"><img class="mr-3" src="{% static 'icon/github-64.png' %}" alt="github">
      </a>
      <br>
      <a href="https://www.linkedin.com/in/benjamim-francisco-73a82613b"><img class="mr-3" src="{% static 'icon/linkedin-64.png' %}" alt="github"></a>

      <div class="media-body">
        <h5 class="mt-0 mb-1">About me:</h5>
        I'm Benjamim Francisco, currently studying Computer Science at the Federal University of Mato Grosso-UFMT \n
        and  i built this project to test my Django and Restfull APIs skills

      </div>
    </li>
  </ul>
  </div>

<div class ="card text-left">

</div>
  <div class="card-footer text-muted">

  </div>

{% endblock %}