{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block main %}
<p></p>

<div class="card text-left">
  <div class="card-header">
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
    <li class="media">
      <img class="mr-3" src="{% static 'icon/github-64.png' %}" alt="github">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Github</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </li>
    <li class="media my-4">
      <img class="mr-3" src="{% static 'icon/linkedin-64.png' %}" alt="github">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Linkedin</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </li>
  </ul>
  </div>
  <div class="card-footer text-muted">
  </div>

{% endblock %}