{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
Periodic Table Api
{% endblock %}
{% block main %}
<p></p>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Starting with Periodic Table Api</h5>
    <p class="card-text">Getting element by name:<br>
    ccomp-pte.herokuapp.com/elements/<font color="red">?element=</font><font color="green">Hydrogen</font><font color="blue">&format=json</font>
    </p>
  </div>
  <div class="card-footer text-muted">
  </div>

  <!--table --->
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Key:</th>
      <th scope="col">Value:</th>
    </tr>
  </thead>
  <tbody>
  <!--cada bloco pe uma instancia na tabela-->
{% if persons %}
    {% for person in persons %}
        <li class="list-group-item">
              <a href="{% url 'person_update' person.id %}">Aqui vai algo</a>
              <a href="{% url 'person_delete' person.id %}" class="trash-item">
                  <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
        </li>

    {% endfor %}
{% endif %}


  </tbody>
  </table>
</div>

<!---bot is here --->
<script src="https://unpkg.com/blip-chat-widget" type="text/javascript">
</script>
<script src="https://unpkg.com/blip-chat-widget" type="text/javascript">
</script>
<script src="https://unpkg.com/blip-chat-widget" type="text/javascript">
</script>
<script>
    (function () {
        window.onload = function () {
            new BlipChat()
            .withAppKey('YmVuamE6ZWI5OTg1YTgtNDM1OS00NDE1LWI4NWEtZDczNWMxNWVkODY0')
            .withButton({"color":"#626262","icon":""})
            .withCustomCommonUrl('https://chat.blip.ai/')
            .build();
        }
    })();
</script>


{% endblock %}